 <style type="text/css">
 	
 	h2{
	
	width:80%;
	font-family:'helvetica';
}

	div {
		
		height:600px;
	}

	  <style type="text/css">
  	form {
    position: relative;
    width: 305px;
}

p {
	font-size: 25px;
	position: relative;
	top:10px;
	left:20%;
}

form a {
    position: relative;
    top:25%;
    left:20px;
    font-size: 35px;
    text-align: left;
    padding: 5px;

}


form  {
    cursor: pointer;
    width: 400px;
    height: 100px;
    margin-top: 55px;
    
    padding: 0;
    background: #ef4300;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    border: 1px solid #ff730e;
    -moz-box-shadow:
        0 15px 30px 0 rgba(255,255,255,.25) inset,
        0 2px 7px 0 rgba(0,0,0,.2);
    -webkit-box-shadow:
        0 15px 30px 0 rgba(255,255,255,.25) inset,
        0 2px 7px 0 rgba(0,0,0,.2);
    box-shadow:
        0 15px 30px 0 rgba(255,255,255,.25) inset,
        0 2px 7px 0 rgba(0,0,0,.2);

    
}

form:hover {
    -moz-box-shadow:
        0 15px 30px 0 rgba(255,255,255,.15) inset,
        0 2px 7px 0 rgba(0,0,0,.2);
    -webkit-box-shadow:
        0 15px 30px 0 rgba(255,255,255,.15) inset,
        0 2px 7px 0 rgba(0,0,0,.2);
    box-shadow:
        0 15px 30px 0 rgba(255,255,255,.15) inset,
        0 2px 7px 0 rgba(0,0,0,.2);
}

form:active {
    -moz-box-shadow:
        0 15px 30px 0 rgba(255,255,255,.15) inset,
        0 2px 7px 0 rgba(0,0,0,.2);
    -webkit-box-shadow:
        0 15px 30px 0 rgba(255,255,255,.15) inset,
        0 2px 7px 0 rgba(0,0,0,.2);
    box-shadow:        
        0 5px 8px 0 rgba(0,0,0,.1) inset,
        0 1px 4px 0 rgba(0,0,0,.1);

    border: 0px solid #ef4300;
}
 </style>

 <div class="completo">





  	<form>
    <%= link_to "Agregar carreras", carrers_path %> 
    </form>


  	<form>
    <%= link_to "Agregar materias", subjects_path %> 
    </form>

<form>
    <%= link_to "Usuarios", users_path %> 
    </form>

 	<form>
    <p>Base de datos</p>
    </form>


 
 	</div>