<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<table>
	Niños con más carreras terminadas
</table>



<table>
	Niños con mas puntaje en materia 1
</table>


<table>
	niños con mas puntaje en matera 2
</table>

<table>
	niños con mas puntaje en matera 3
</table>

<table>
	niños con mas puntaje en matera 4
</table>

<table>
	niños con mas puntaje en carrera 1
</table>


<table>
	niños con mas puntaje en carrera 2
</table>


<table>
	niños con mas puntaje en carrera 3
</table>


<table>
	niños con mas puntaje en carrera 4
</table>


</body>
</html>