
<style type="text/css">
	.tablas {
		left: 25%;
	}
</style>

<div class="tablas">

<h1 class="titulo">Editar</h1>

<%= render 'form', subject_carrer_user: @subject_carrer_user %>

<%= link_to 'Show', @subject_carrer_user %> |
<%= link_to 'Back', subject_carrer_users_path %>
</div>