
<style type="text/css">
	.tablas {
		left: 22%;
	}
</style>
<div class="tablas">

<h1 class="titulo">Materia</h1>

<%= render 'form', subject_carrer_user: @subject_carrer_user %>

<%= link_to 'Back', subject_carrer_users_path %>
</div>