<div class="tablas">

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @carrer.name %>
</p>



<%= link_to 'Edit', edit_carrer_path(@carrer) %> |
<%= link_to 'Back', carrers_path %>
</div>